run = ["bundle", "exec", "ruby", "interpreter.rb"]
hidden = [".bundle"]

entrypoint = "grabber.rb"

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[languages.ruby]
pattern = "**/*.rb"

[languages.ruby.languageServer]
start = ["solargraph", "stdio"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "README.md"]